# Ignore objs and bin folders
bin/*
obj/*
out/*

# Ignore Emacs temporary files
\#*\#
*~
\.\#*

# Ignore Vim temporary files
*.swp

# Ignore special lib files
lib/libglfw3.so

# Documentation
docs

# Windows object files
*.obj
